
.target-report-on[b-48x5ve6fy4] {
    position: relative;
    display: flex;
}

.target-report-off[b-48x5ve6fy4] {
    position: relative;
    display: none;
}

.target-report-main[b-48x5ve6fy4] {
    min-width: 1400px;
}

.target-report-body[b-48x5ve6fy4] {

}

.target-report-row[b-48x5ve6fy4] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.target-report-row-label[b-48x5ve6fy4] {

}

.target-report-input[b-48x5ve6fy4] {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.notify-warn[b-48x5ve6fy4] { 
    width: 90px;
    background: #e53935; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-success[b-48x5ve6fy4] { 
    width: 90px; 
    background: #43a047; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-block[b-48x5ve6fy4] { 
    width: 90px;
    background: #494949;    color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

