.target-report-on {
    position: relative;
    display: flex;
}

.target-report-off {
    position: relative;
    display: none;
}

.target-report-main {
    width: 800px;
    height:800px;
    background: aliceblue;
    margin-left: 20%; 
    border: 2px solid;
}

.target-report-body {
    margin-top: 10px;
    margin-left: 20px;
}

.target-report-row {
    display: flex;
}

.target-report-row-label {
    width: 250px
}

.target-report-input {
    display: flex;
    margin-top: 10px;
}

.notify-warn { 
    width: 90px;
    background: #e53935; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-success { 
    width: 90px;
    background: #43a047; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-block { 
    width: 90px;
    background: #494949;    color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}