/* _content/WebApplication_Dianthus/Views/Index/Index.cshtml.rz.scp.css */
.login-textarea[b-su3qoipxt7] {
    resize: none; 
    weight:20px;
    height:31px;
    line-height: 25px;
}

.login-btn[b-su3qoipxt7] {
    
}
/* _content/WebApplication_Dianthus/Views/ReportPage/Index.cshtml.rz.scp.css */
.target-report-on[b-7ataa6jb2o] {
    position: relative;
    display: flex;
}

.target-report-off[b-7ataa6jb2o] {
    position: relative;
    display: none;
}

.target-report-main[b-7ataa6jb2o] {
    width: 800px;
    height:800px;
    background: aliceblue;
    margin-left: 20%; 
    border: 2px solid;
}

.target-report-body[b-7ataa6jb2o] {
    margin-top: 10px;
    margin-left: 20px;
}

.target-report-row[b-7ataa6jb2o] {
    display: flex;
}

.target-report-row-label[b-7ataa6jb2o] {
    width: 250px
}

.target-report-input[b-7ataa6jb2o] {
    display: flex;
    margin-top: 10px;
}

.notify-warn[b-7ataa6jb2o] { 
    width: 90px;
    background: #e53935; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-success[b-7ataa6jb2o] { 
    width: 90px; 
    background: #43a047; color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.notify-block[b-7ataa6jb2o] { 
    width: 90px;
    background: #494949;    color: #fff;
    font-weight : bold;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
/* _content/WebApplication_Dianthus/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zbm04d3yxb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zbm04d3yxb] {
  color: #0077cc;
}

.btn-primary[b-zbm04d3yxb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zbm04d3yxb], .nav-pills .show > .nav-link[b-zbm04d3yxb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zbm04d3yxb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zbm04d3yxb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zbm04d3yxb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zbm04d3yxb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zbm04d3yxb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
